[Body Color]

## Consumable effects won't push any characters' BodyContrast size below this value. ClampPlayerProportions will use this for all players' Minimum BodyContrast size.
# Setting type: Single
# Default value: 0.6
BodyContrastMin = 0.75

## Consumable effects won't push any characters' BodyContrast size above this value. ClampPlayerProportions will use this for all players' Maximum BodyContrast size.
# Setting type: Single
# Default value: 1.05
BodyContrastMax = 1.45

[Hair Color]

## Consumable effects won't push any characters' HairContrast size below this value. ClampPlayerProportions will use this for all players' Minimum HairContrast size.
# Setting type: Single
# Default value: 0.6
HairContrastMin = 0.75

## Consumable effects won't push any characters' HairContrast size above this value. ClampPlayerProportions will use this for all players' Maximum HairContrast size.
# Setting type: Single
# Default value: 1.05
HairContrastMax = 1.45

[Misc Color]

## Consumable effects won't push any characters' MiscContrast size below this value. ClampPlayerProportions will use this for all players' Minimum MiscContrast size.
# Setting type: Single
# Default value: 0.6
MiscContrastMin = 0.75

## Consumable effects won't push any characters' MiscContrast size above this value. ClampPlayerProportions will use this for all players' Maximum MiscContrast size.
# Setting type: Single
# Default value: 1.05
MiscContrastMax = 1.45
