[Body Color]

## Consumable effects won't push your characters' BodyContrast size below this value. SliderRangeOverride will use this for the BodyContrast slider Min value.
# Setting type: Single
# Default value: 0.6
BodyContrastMin = 0.75

## Consumable effects won't push your characters' BodyContrast size above this value. SliderRangeOverride will use this for the BodyContrast slider Max value.
# Setting type: Single
# Default value: 1.05
BodyContrastMax = 1.45

[Hair Color]

## Consumable effects won't push your characters' HairContrast size below this value. SliderRangeOverride will use this for the HairContrast slider Min value.
# Setting type: Single
# Default value: 0.6
HairContrastMin = 0.75

## Consumable effects won't push your characters' HairContrast size above this value. SliderRangeOverride will use this for the HairContrast slider Max value.
# Setting type: Single
# Default value: 1.05
HairContrastMax = 1.45

[Misc Color]

## Consumable effects won't push your characters' MiscContrast size below this value. SliderRangeOverride will use this for the MiscContrast slider Min value.
# Setting type: Single
# Default value: 0.6
MiscContrastMin = 0.75

## Consumable effects won't push your characters' MiscContrast size above this value. SliderRangeOverride will use this for the MiscContrast slider Max value.
# Setting type: Single
# Default value: 1.05
MiscContrastMax = 1.45
