[Body Color]

## Consumable effects won't push any characters' BodyBrightness size below this value. ClampPlayerProportions will use this for all players' Minimum BodyBrightness size.
# Setting type: Single
# Default value: -0.2
BodyBrightnessMin = -0.35

## Consumable effects won't push any characters' BodyBrightness size above this value. ClampPlayerProportions will use this for all players' Maximum BodyBrightness size.
# Setting type: Single
# Default value: 0.07
BodyBrightnessMax = 0.1

## Consumable effects won't push any characters' BodyContrast size above this value. ClampPlayerProportions will use this for all players' Maximum BodyContrast size.
# Setting type: Single
# Default value: 1
BodyContrastMax = 1.45

[Hair Color]

## Consumable effects won't push any characters' HairBrightness size below this value. ClampPlayerProportions will use this for all players' Minimum HairBrightness size.
# Setting type: Single
# Default value: -0.2
HairBrightnessMin = -0.35

## Consumable effects won't push any characters' HairBrightness size above this value. ClampPlayerProportions will use this for all players' Maximum HairBrightness size.
# Setting type: Single
# Default value: 0.07
HairBrightnessMax = 0.1

## Consumable effects won't push any characters' HairContrast size above this value. ClampPlayerProportions will use this for all players' Maximum HairContrast size.
# Setting type: Single
# Default value: 1
HairContrastMax = 1.45

[Misc Color]

## Consumable effects won't push any characters' MiscBrightness size below this value. ClampPlayerProportions will use this for all players' Minimum MiscBrightness size.
# Setting type: Single
# Default value: -0.2
MiscBrightnessMin = -0.35

## Consumable effects won't push any characters' MiscBrightness size above this value. ClampPlayerProportions will use this for all players' Maximum MiscBrightness size.
# Setting type: Single
# Default value: 0.07
MiscBrightnessMax = 0.1

## Consumable effects won't push any characters' MiscContrast size above this value. ClampPlayerProportions will use this for all players' Maximum MiscContrast size.
# Setting type: Single
# Default value: 1
MiscContrastMax = 1.45
