[Body Color]

## Consumable effects won't push your characters' BodyBrightness size below this value. SliderRangeOverride will use this for the BodyBrightness slider Min value.
# Setting type: Single
# Default value: -0.2
BodyBrightnessMin = -0.35

## Consumable effects won't push your characters' BodyBrightness size above this value. SliderRangeOverride will use this for the BodyBrightness slider Max value.
# Setting type: Single
# Default value: 0.07
BodyBrightnessMax = 0.1

## Consumable effects won't push your characters' BodyContrast size above this value. SliderRangeOverride will use this for the BodyContrast slider Max value.
# Setting type: Single
# Default value: 1
BodyContrastMax = 1.45

[Hair Color]

## Consumable effects won't push your characters' HairBrightness size below this value. SliderRangeOverride will use this for the HairBrightness slider Min value.
# Setting type: Single
# Default value: -0.2
HairBrightnessMin = -0.35

## Consumable effects won't push your characters' HairBrightness size above this value. SliderRangeOverride will use this for the HairBrightness slider Max value.
# Setting type: Single
# Default value: 0.07
HairBrightnessMax = 0.1

## Consumable effects won't push your characters' HairContrast size above this value. SliderRangeOverride will use this for the HairContrast slider Max value.
# Setting type: Single
# Default value: 1
HairContrastMax = 1.45

[Misc Color]

## Consumable effects won't push your characters' MiscBrightness size below this value. SliderRangeOverride will use this for the MiscBrightness slider Min value.
# Setting type: Single
# Default value: -0.2
MiscBrightnessMin = -0.35

## Consumable effects won't push your characters' MiscBrightness size above this value. SliderRangeOverride will use this for the MiscBrightness slider Max value.
# Setting type: Single
# Default value: 0.07
MiscBrightnessMax = 0.1

## Consumable effects won't push your characters' MiscContrast size above this value. SliderRangeOverride will use this for the MiscContrast slider Max value.
# Setting type: Single
# Default value: 1
MiscContrastMax = 1.45
