[Arms]

## Consumable effects won't push any characters' Arms size below this value. ClampPlayerProportions will use this for all players' Minimum Arms size.
# Setting type: Single
# Default value: -50
ArmsMin = -50

## Consumable effects won't push any characters' Arms size above this value. ClampPlayerProportions will use this for all players' Maximum Arms size.
# Setting type: Single
# Default value: 175
ArmsMax = 175

[Belly]

## Consumable effects won't push any characters' Belly size below this value. ClampPlayerProportions will use this for all players' Minimum Belly size.
# Setting type: Single
# Default value: -75
BellyMin = -75

## Consumable effects won't push any characters' Belly size above this value. ClampPlayerProportions will use this for all players' Maximum Belly size.
# Setting type: Single
# Default value: 300
BellyMax = 300

[Body Color]

## Consumable effects won't push any characters' BodyHue size below this value. ClampPlayerProportions will use this for all players' Minimum BodyHue size.
# Setting type: Single
# Default value: 0
BodyHueMin = 0

## Consumable effects won't push any characters' BodyHue size above this value. ClampPlayerProportions will use this for all players' Maximum BodyHue size.
# Setting type: Single
# Default value: 360
BodyHueMax = 360

## Consumable effects won't push any characters' BodySaturation size below this value. ClampPlayerProportions will use this for all players' Minimum BodySaturation size.
# Setting type: Single
# Default value: 0
BodySaturationMin = 0

## Consumable effects won't push any characters' BodySaturation size above this value. ClampPlayerProportions will use this for all players' Maximum BodySaturation size.
# Setting type: Single
# Default value: 2
BodySaturationMax = 2

## Consumable effects won't push any characters' BodyBrightness size below this value. ClampPlayerProportions will use this for all players' Minimum BodyBrightness size.
# Setting type: Single
# Default value: -0.35
BodyBrightnessMin = -0.35

## Consumable effects won't push any characters' BodyBrightness size above this value. ClampPlayerProportions will use this for all players' Maximum BodyBrightness size.
# Setting type: Single
# Default value: 0.1
BodyBrightnessMax = 0.1

## Consumable effects won't push any characters' BodyContrast size below this value. ClampPlayerProportions will use this for all players' Minimum BodyContrast size.
# Setting type: Single
# Default value: 0.75
BodyContrastMin = 0.75

## Consumable effects won't push any characters' BodyContrast size above this value. ClampPlayerProportions will use this for all players' Maximum BodyContrast size.
# Setting type: Single
# Default value: 1.45
BodyContrastMax = 1.45

[Boobs]

## Consumable effects won't push any characters' Boobs size below this value. ClampPlayerProportions will use this for all players' Minimum Boobs size.
# Setting type: Single
# Default value: -80
BoobsMin = -80

## Consumable effects won't push any characters' Boobs size above this value. ClampPlayerProportions will use this for all players' Maximum Boobs size.
# Setting type: Single
# Default value: 400
BoobsMax = 400

[Butt]

## Consumable effects won't push any characters' Butt size below this value. ClampPlayerProportions will use this for all players' Minimum Butt size.
# Setting type: Single
# Default value: -120
ButtMin = -120

## Consumable effects won't push any characters' Butt size above this value. ClampPlayerProportions will use this for all players' Maximum Butt size.
# Setting type: Single
# Default value: 200
ButtMax = 200

[Character Depth]

## Consumable effects won't push any characters' Depth size below this value. ClampPlayerProportions will use this for all players' Minimum Depth size.
# Setting type: Single
# Default value: 0.1
DepthMin = 0.1

## Consumable effects won't push any characters' Depth size above this value. ClampPlayerProportions will use this for all players' Maximum Depth size.
# Setting type: Single
# Default value: 7
DepthMax = 7

[Character Height]

## Consumable effects won't push any characters' Height size below this value. ClampPlayerProportions will use this for all players' Minimum Height size.
# Setting type: Single
# Default value: 0.1
HeightMin = 0.1

## Consumable effects won't push any characters' Height size above this value. ClampPlayerProportions will use this for all players' Maximum Height size.
# Setting type: Single
# Default value: 7
HeightMax = 7

[Character Width]

## Consumable effects won't push any characters' Width size below this value. ClampPlayerProportions will use this for all players' Minimum Width size.
# Setting type: Single
# Default value: 0.1
WidthMin = 0.1

## Consumable effects won't push any characters' Width size above this value. ClampPlayerProportions will use this for all players' Maximum Width size.
# Setting type: Single
# Default value: 7
WidthMax = 7

[Hair Color]

## Consumable effects won't push any characters' HairHue size below this value. ClampPlayerProportions will use this for all players' Minimum HairHue size.
# Setting type: Single
# Default value: 0
HairHueMin = 0

## Consumable effects won't push any characters' HairHue size above this value. ClampPlayerProportions will use this for all players' Maximum HairHue size.
# Setting type: Single
# Default value: 360
HairHueMax = 360

## Consumable effects won't push any characters' HairSaturation size below this value. ClampPlayerProportions will use this for all players' Minimum HairSaturation size.
# Setting type: Single
# Default value: 0
HairSaturationMin = 0

## Consumable effects won't push any characters' HairSaturation size above this value. ClampPlayerProportions will use this for all players' Maximum HairSaturation size.
# Setting type: Single
# Default value: 2
HairSaturationMax = 2

## Consumable effects won't push any characters' HairBrightness size below this value. ClampPlayerProportions will use this for all players' Minimum HairBrightness size.
# Setting type: Single
# Default value: -0.35
HairBrightnessMin = -0.35

## Consumable effects won't push any characters' HairBrightness size above this value. ClampPlayerProportions will use this for all players' Maximum HairBrightness size.
# Setting type: Single
# Default value: 0.1
HairBrightnessMax = 0.1

## Consumable effects won't push any characters' HairContrast size below this value. ClampPlayerProportions will use this for all players' Minimum HairContrast size.
# Setting type: Single
# Default value: 0.75
HairContrastMin = 0.75

## Consumable effects won't push any characters' HairContrast size above this value. ClampPlayerProportions will use this for all players' Maximum HairContrast size.
# Setting type: Single
# Default value: 1.45
HairContrastMax = 1.45

[Head Width]

## Consumable effects won't push any characters' Head size below this value. ClampPlayerProportions will use this for all players' Minimum Head size.
# Setting type: Single
# Default value: 0.1
HeadMin = 0.1

## Consumable effects won't push any characters' Head size above this value. ClampPlayerProportions will use this for all players' Maximum Head size.
# Setting type: Single
# Default value: 3.5
HeadMax = 3.5

[Misc Color]

## Consumable effects won't push any characters' MiscHue size below this value. ClampPlayerProportions will use this for all players' Minimum MiscHue size.
# Setting type: Single
# Default value: 0
MiscHueMin = 0

## Consumable effects won't push any characters' MiscHue size above this value. ClampPlayerProportions will use this for all players' Maximum MiscHue size.
# Setting type: Single
# Default value: 360
MiscHueMax = 360

## Consumable effects won't push any characters' MiscSaturation size below this value. ClampPlayerProportions will use this for all players' Minimum MiscSaturation size.
# Setting type: Single
# Default value: 0
MiscSaturationMin = 0

## Consumable effects won't push any characters' MiscSaturation size above this value. ClampPlayerProportions will use this for all players' Maximum MiscSaturation size.
# Setting type: Single
# Default value: 2
MiscSaturationMax = 2

## Consumable effects won't push any characters' MiscBrightness size below this value. ClampPlayerProportions will use this for all players' Minimum MiscBrightness size.
# Setting type: Single
# Default value: -0.35
MiscBrightnessMin = -0.35

## Consumable effects won't push any characters' MiscBrightness size above this value. ClampPlayerProportions will use this for all players' Maximum MiscBrightness size.
# Setting type: Single
# Default value: 0.1
MiscBrightnessMax = 0.1

## Consumable effects won't push any characters' MiscContrast size below this value. ClampPlayerProportions will use this for all players' Minimum MiscContrast size.
# Setting type: Single
# Default value: 0.75
MiscContrastMin = 0.75

## Consumable effects won't push any characters' MiscContrast size above this value. ClampPlayerProportions will use this for all players' Maximum MiscContrast size.
# Setting type: Single
# Default value: 1.45
MiscContrastMax = 1.45

[Muzzle]

## Consumable effects won't push any characters' Muzzle size below this value. ClampPlayerProportions will use this for all players' Minimum Muzzle size.
# Setting type: Single
# Default value: -50
MuzzleMin = -50

## Consumable effects won't push any characters' Muzzle size above this value. ClampPlayerProportions will use this for all players' Maximum Muzzle size.
# Setting type: Single
# Default value: 120
MuzzleMax = 120

[Torso]

## Consumable effects won't push any characters' Torso size below this value. ClampPlayerProportions will use this for all players' Minimum Torso size.
# Setting type: Single
# Default value: -100
TorsoMin = -100

## Consumable effects won't push any characters' Torso size above this value. ClampPlayerProportions will use this for all players' Maximum Torso size.
# Setting type: Single
# Default value: 200
TorsoMax = 200

[Voice Pitch]

## Consumable effects won't push any characters' Voice size below this value. ClampPlayerProportions will use this for all players' Minimum Voice size.
# Setting type: Single
# Default value: 0.25
VoiceMin = 0.25

## Consumable effects won't push any characters' Voice size above this value. ClampPlayerProportions will use this for all players' Maximum Voice size.
# Setting type: Single
# Default value: 4
VoiceMax = 4

