[Activate the Jiggle]

## Set to true to enable the custom Jiggle settings. The defaults Homebrewery comes with are very silly!
# Setting type: Boolean
# Default value: false
CustomJiggleOn = true

[Ass]

## Stiffness determines how wide of an angle the bone can deviate relative to the parent bone.
# Setting type: Single
# Default value: 0.6
# Acceptable value range: From 0 to 1
Stiffness = 0.6

## Elasticity determines how fast the bone snaps back towards the original position.
# Setting type: Single
# Default value: 0.03
# Acceptable value range: From 0 to 1
Elasticity = 0.03

## Damping determines how much velocity is lost when reaching the original position, a very low value will mean jiggling will last a long time.
# Setting type: Single
# Default value: 0.01
# Acceptable value range: From 0 to 1
Damping = 0.01

## Inert determines how resistant the bone is to moving away from the original position, the inertia.
# Setting type: Single
# Default value: 0.5
# Acceptable value range: From 0 to 1
Inert = 0.5

[Belly]

## Stiffness determines how wide of an angle the bone can deviate relative to the parent bone.
# Setting type: Single
# Default value: 0.6
# Acceptable value range: From 0 to 1
Stiffness = 0.6

## Elasticity determines how fast the bone snaps back towards the original position.
# Setting type: Single
# Default value: 0.03
# Acceptable value range: From 0 to 1
Elasticity = 0.03

## Damping determines how much velocity is lost when reaching the original position, a very low value will mean jiggling will last a long time.
# Setting type: Single
# Default value: 0.01
# Acceptable value range: From 0 to 1
Damping = 0.01

## Inert determines how resistant the bone is to moving away from the original position, the inertia.
# Setting type: Single
# Default value: 0.5
# Acceptable value range: From 0 to 1
Inert = 0.5

[Boob]

## Stiffness determines how wide of an angle the bone can deviate relative to the parent bone.
# Setting type: Single
# Default value: 0.6
# Acceptable value range: From 0 to 1
Stiffness = 0.6

## Elasticity determines how fast the bone snaps back towards the original position.
# Setting type: Single
# Default value: 0.03
# Acceptable value range: From 0 to 1
Elasticity = 0.03

## Damping determines how much velocity is lost when reaching the original position, a very low value will mean jiggling will last a long time.
# Setting type: Single
# Default value: 0.01
# Acceptable value range: From 0 to 1
Damping = 0.01

## Inert determines how resistant the bone is to moving away from the original position, the inertia.
# Setting type: Single
# Default value: 0.5
# Acceptable value range: From 0 to 1
Inert = 0.5

[Ear]

## Stiffness determines how wide of an angle the bone can deviate relative to the parent bone.
# Setting type: Single
# Default value: 0.6
# Acceptable value range: From 0 to 1
Stiffness = 0.6

## Elasticity determines how fast the bone snaps back towards the original position.
# Setting type: Single
# Default value: 0.03
# Acceptable value range: From 0 to 1
Elasticity = 0.03

## Damping determines how much velocity is lost when reaching the original position, a very low value will mean jiggling will last a long time.
# Setting type: Single
# Default value: 0.01
# Acceptable value range: From 0 to 1
Damping = 0.01

## Inert determines how resistant the bone is to moving away from the original position, the inertia.
# Setting type: Single
# Default value: 0.5
# Acceptable value range: From 0 to 1
Inert = 0.5

[Tail]

## Stiffness determines how wide of an angle the bone can deviate relative to the parent bone.
# Setting type: Single
# Default value: 0.6
# Acceptable value range: From 0 to 1
Stiffness = 0.6

## Elasticity determines how fast the bone snaps back towards the original position.
# Setting type: Single
# Default value: 0.03
# Acceptable value range: From 0 to 1
Elasticity = 0.03

## Damping determines how much velocity is lost when reaching the original position, a very low value will mean jiggling will last a long time.
# Setting type: Single
# Default value: 0.01
# Acceptable value range: From 0 to 1
Damping = 0.01

## Inert determines how resistant the bone is to moving away from the original position, the inertia.
# Setting type: Single
# Default value: 0.5
# Acceptable value range: From 0 to 1
Inert = 0.5

