[Arms]

## Consumable effects won't push your characters' Arms size below this value. SliderRangeOverride will use this for the Arms slider Min value.
# Setting type: Single
# Default value: -100
ArmsMin = 25

## Consumable effects won't push your characters' Arms size above this value. SliderRangeOverride will use this for the Arms slider Max value.
# Setting type: Single
# Default value: 200
ArmsMax = 120

[Belly]

## Consumable effects won't push your characters' Belly size below this value. SliderRangeOverride will use this for the Belly slider Min value.
# Setting type: Single
# Default value: -60
BellyMin = -20

## Consumable effects won't push your characters' Belly size above this value. SliderRangeOverride will use this for the Belly slider Max value.
# Setting type: Single
# Default value: 300
BellyMax = 120

[Body Color]

## Consumable effects won't push your characters' BodyHue size below this value. SliderRangeOverride will use this for the BodyHue slider Min value.
# Setting type: Single
# Default value: 0
BodyHueMin = 0

## Consumable effects won't push your characters' BodyHue size above this value. SliderRangeOverride will use this for the BodyHue slider Max value.
# Setting type: Single
# Default value: 360
BodyHueMax = 360

## Consumable effects won't push your characters' BodySaturation size below this value. SliderRangeOverride will use this for the BodySaturation slider Min value.
# Setting type: Single
# Default value: 0
BodySaturationMin = 0

## Consumable effects won't push your characters' BodySaturation size above this value. SliderRangeOverride will use this for the BodySaturation slider Max value.
# Setting type: Single
# Default value: 2
BodySaturationMax = 2

## Consumable effects won't push your characters' BodyBrightness size below this value. SliderRangeOverride will use this for the BodyBrightness slider Min value.
# Setting type: Single
# Default value: -0.15
BodyBrightnessMin = -0.15

## Consumable effects won't push your characters' BodyBrightness size above this value. SliderRangeOverride will use this for the BodyBrightness slider Max value.
# Setting type: Single
# Default value: 0.1
BodyBrightnessMax = 0.1

## Consumable effects won't push your characters' BodyContrast size below this value. SliderRangeOverride will use this for the BodyContrast slider Min value.
# Setting type: Single
# Default value: 0.75
BodyContrastMin = 0.75

## Consumable effects won't push your characters' BodyContrast size above this value. SliderRangeOverride will use this for the BodyContrast slider Max value.
# Setting type: Single
# Default value: 1.45
BodyContrastMax = 1.45

[Boobs]

## Consumable effects won't push your characters' Boobs size below this value. SliderRangeOverride will use this for the Boobs slider Min value.
# Setting type: Single
# Default value: -50
BoobsMin = -40

## Consumable effects won't push your characters' Boobs size above this value. SliderRangeOverride will use this for the Boobs slider Max value.
# Setting type: Single
# Default value: 400
BoobsMax = 120

[Butt]

## Consumable effects won't push your characters' Butt size below this value. SliderRangeOverride will use this for the Butt slider Min value.
# Setting type: Single
# Default value: -175
ButtMin = -120

## Consumable effects won't push your characters' Butt size above this value. SliderRangeOverride will use this for the Butt slider Max value.
# Setting type: Single
# Default value: 200
ButtMax = 120

[Character Depth]

## Consumable effects won't push your characters' Depth size below this value. SliderRangeOverride will use this for the Depth slider Min value.
# Setting type: Single
# Default value: 0.1
DepthMin = 0.95

## Consumable effects won't push your characters' Depth size above this value. SliderRangeOverride will use this for the Depth slider Max value.
# Setting type: Single
# Default value: 7
DepthMax = 1.15

[Character Height]

## Consumable effects won't push your characters' Height size below this value. SliderRangeOverride will use this for the Height slider Min value.
# Setting type: Single
# Default value: 0.1
HeightMin = 0.9

## Consumable effects won't push your characters' Height size above this value. SliderRangeOverride will use this for the Height slider Max value.
# Setting type: Single
# Default value: 7
HeightMax = 1.06

[Character Width]

## Consumable effects won't push your characters' Width size below this value. SliderRangeOverride will use this for the Width slider Min value.
# Setting type: Single
# Default value: 0.1
WidthMin = 0.95

## Consumable effects won't push your characters' Width size above this value. SliderRangeOverride will use this for the Width slider Max value.
# Setting type: Single
# Default value: 7
WidthMax = 1.15

[Hair Color]

## Consumable effects won't push your characters' HairHue size below this value. SliderRangeOverride will use this for the HairHue slider Min value.
# Setting type: Single
# Default value: 0
HairHueMin = 0

## Consumable effects won't push your characters' HairHue size above this value. SliderRangeOverride will use this for the HairHue slider Max value.
# Setting type: Single
# Default value: 360
HairHueMax = 360

## Consumable effects won't push your characters' HairSaturation size below this value. SliderRangeOverride will use this for the HairSaturation slider Min value.
# Setting type: Single
# Default value: 0
HairSaturationMin = 0

## Consumable effects won't push your characters' HairSaturation size above this value. SliderRangeOverride will use this for the HairSaturation slider Max value.
# Setting type: Single
# Default value: 2
HairSaturationMax = 2

## Consumable effects won't push your characters' HairBrightness size below this value. SliderRangeOverride will use this for the HairBrightness slider Min value.
# Setting type: Single
# Default value: -0.15
HairBrightnessMin = -0.15

## Consumable effects won't push your characters' HairBrightness size above this value. SliderRangeOverride will use this for the HairBrightness slider Max value.
# Setting type: Single
# Default value: 0.1
HairBrightnessMax = 0.1

## Consumable effects won't push your characters' HairContrast size below this value. SliderRangeOverride will use this for the HairContrast slider Min value.
# Setting type: Single
# Default value: 0.75
HairContrastMin = 0.75

## Consumable effects won't push your characters' HairContrast size above this value. SliderRangeOverride will use this for the HairContrast slider Max value.
# Setting type: Single
# Default value: 1.45
HairContrastMax = 1.45

[Head Width]

## Consumable effects won't push your characters' Head size below this value. SliderRangeOverride will use this for the Head slider Min value.
# Setting type: Single
# Default value: 0.1
HeadMin = 0.95

## Consumable effects won't push your characters' Head size above this value. SliderRangeOverride will use this for the Head slider Max value.
# Setting type: Single
# Default value: 3.5
HeadMax = 1.2

[Misc Color]

## Consumable effects won't push your characters' MiscHue size below this value. SliderRangeOverride will use this for the MiscHue slider Min value.
# Setting type: Single
# Default value: 0
MiscHueMin = 0

## Consumable effects won't push your characters' MiscHue size above this value. SliderRangeOverride will use this for the MiscHue slider Max value.
# Setting type: Single
# Default value: 360
MiscHueMax = 360

## Consumable effects won't push your characters' MiscSaturation size below this value. SliderRangeOverride will use this for the MiscSaturation slider Min value.
# Setting type: Single
# Default value: 0
MiscSaturationMin = 0

## Consumable effects won't push your characters' MiscSaturation size above this value. SliderRangeOverride will use this for the MiscSaturation slider Max value.
# Setting type: Single
# Default value: 2
MiscSaturationMax = 2

## Consumable effects won't push your characters' MiscBrightness size below this value. SliderRangeOverride will use this for the MiscBrightness slider Min value.
# Setting type: Single
# Default value: -0.15
MiscBrightnessMin = -0.15

## Consumable effects won't push your characters' MiscBrightness size above this value. SliderRangeOverride will use this for the MiscBrightness slider Max value.
# Setting type: Single
# Default value: 0.1
MiscBrightnessMax = 0.1

## Consumable effects won't push your characters' MiscContrast size below this value. SliderRangeOverride will use this for the MiscContrast slider Min value.
# Setting type: Single
# Default value: 0.75
MiscContrastMin = 0.75

## Consumable effects won't push your characters' MiscContrast size above this value. SliderRangeOverride will use this for the MiscContrast slider Max value.
# Setting type: Single
# Default value: 1.45
MiscContrastMax = 1.45

[Muzzle]

## Consumable effects won't push your characters' Muzzle size below this value. SliderRangeOverride will use this for the Muzzle slider Min value.
# Setting type: Single
# Default value: -30
MuzzleMin = -35

## Consumable effects won't push your characters' Muzzle size above this value. SliderRangeOverride will use this for the Muzzle slider Max value.
# Setting type: Single
# Default value: 300
MuzzleMax = 130

[Torso]

## Consumable effects won't push your characters' Torso size below this value. SliderRangeOverride will use this for the Torso slider Min value.
# Setting type: Single
# Default value: -100
TorsoMin = -10

## Consumable effects won't push your characters' Torso size above this value. SliderRangeOverride will use this for the Torso slider Max value.
# Setting type: Single
# Default value: 150
TorsoMax = 120

[Voice Pitch]

## Consumable effects won't push your characters' Voice size below this value. SliderRangeOverride will use this for the Voice slider Min value.
# Setting type: Single
# Default value: 0.25
VoiceMin = 0.6

## Consumable effects won't push your characters' Voice size above this value. SliderRangeOverride will use this for the Voice slider Max value.
# Setting type: Single
# Default value: 4
VoiceMax = 1.25

